
#container{
  width:550px;
  margin:auto;
  margin-top: 10px;
}
li.circle {
  float: left;
  width: 80px;
  height: 80px;
  margin: 0 15px 15px 0;
  border-radius: 60px;
  border: 3px solid black;
  list-style-type: none;
  transition: all 500ms ease;
}
h1{
  text-align: center;
  margin: 20px 0 0 0;
  font-family: 'Shadows Into Light', cursive;
  font-size: 100px;
}
h2{
  text-align: center;
  margin:0 0 30px 0;
  font-family: 'Shadows Into Light', cursive;
}
a{
  text-decoration:none;
  color:black;
}
#play{
  width:100px;
  margin:auto;
  margin-top:80px;
  padding:10px;
}
#playAgain{
  width:100px;
  margin:auto;
  margin-top:80px;
  padding:10px;
}
.score{
  width: 70px;
  height:30px;
  margin:auto;
}
.scoreboard{
  width:250px;
  margin:auto;
  clear:both;
}
span{
  margin:10px
}
#pink{
  background: pink;
}
#lightblue{
  background: lightblue;
}
#yellow{
  background: yellow;
}
#purple{
  background: purple;
}
#green{
  background: green;
}
.hidden{
  background:white;
}
li.active{
  border: 10px solid black;
}
.nerd{
  background-image: url(http://www.tolkienion.com/movies/ttt/marshes4.jpg);
}
