<div class="dreamplan">
  <h2>Will Be Done</h2>
  <h3>Your Dream Trips</h3>
  <div class="dreamplancontainer">
    <div data-ng-repeat="trip in vm.trips" class="dreamsplans">
      <p>{{trip.name}}</p>
      <a data-ui-sref="tripShow({id: trip._id})">View Trip</a>
    </div>
  </div>

  <h4>Add New Trip</h4>
  <form method="post" class="dreamplanform">
    <input type="text" data-ng-model="vm.newTrip.name" placeholder="Trip Name" />
    <input type="text" data-ng-model="vm.newTrip.notes" placeholder="Notes" />
    <button type="button" data-ng-click="vm.create($event)">Add Dream Trip</button>
  </form>
</div>
