<!DOCTYPE html>
<html data-ng-app="wanderfully">
<head>
  <meta charset="utf-8">
  <title>Wanderful.ly</title>
  <!-- <base href="/"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.2/angular-resource.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <script src="js/app.js"></script>
</head>

<body>
  <header>
  <h1><a data-ui-sref="home">Wanderful.ly</a></h1>
  </header>
  <!-- <div class="navigation">
    <div ng-if="localStorage.getItem('currentUserId')">
      <p>Log Out</p>
    </div>
    <div ng-if="!localStorage.getItem('currentUserId')">
      <p><span class="nav"><a data-ui-sref='login'>Sign In</a></span>  <span class="nav"><a data-ui-sref='register'>Register</a></span></p>
    </div>
  </div> -->

  <div ui-view></div>
</body>

</html>
